{% extends "base.html" %}
{% block content %}
<h1>{{ spreadsheet.name }} spreadsheet</h1>
{% if spreadsheet.dataset %}
<p>Data Set: {{ spreadsheet.dataset.name }}</p>
{% endif %}
<table id="spreadsheet_data">
    <thead>
        <tr>
        	{% for value in header_row %}
            <th>{{ value }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    	{% for row in data_rows %}
        <tr>
        	{% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
